body {
	background-color: grey;
	font-family: 'Patrick Hand SC', cursive;
	/*display: flex;*/
	height: 100vh;
	width: 100vw;
	


}

.container {
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.main-content {
	margin: 0 auto;
	width: 500px;


}

.image {
	
	margin: 0 auto;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {

	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

h4 {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;

}

.social a {
	text-decoration: none;
	color: inherit;
	font-size: 25px;
	padding: 0 10px 20px 0;	

}

#linkedin:hover {
	text-decoration: underline;

}

#github:hover {
	text-decoration: underline;
}

.nav {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    height: 100vh; 
    width: 10%;
    position: fixed; 
    overflow: auto; 
    text-decoration: none;

}

.nav a {
	list-style-type: none;
	text-decoration: none;
    display: block;
    margin: 0 auto;
    color: #000;
    padding-bottom: 20px;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    
}


.nav a:hover {
    color: white;
    display: block;
}

.skills {
	list-style-type: none;
	text-decoration: none;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.contact {

	list-style-type: none;
	text-decoration: none;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}




